.footer {
    height: 50px;
    width: 100%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1% 0;
}
a{
    box-shadow: 0 5px 0 darkred;
    text-decoration: none;
    color: black;
}