@import url("https://fonts.googleapis.com/css?family=Coda|Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css?family=Faster+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Monoton&display=swap");
/*
font-family: 'Faster One', cursive;
font-family: 'Monoton', cursive;
*/
html {
  font-size: 10px;
  background-image: url("https://images4.alphacoders.com/174/thumb-1920-174986.jpg");
  background-image: center bottom no-repeat;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.box {
  margin: 0px;
  padding: 0px;
  justify-content: center;
}

.key {
  border: 0.4rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem black;
  border-radius: 20%;
}

.playing {
  transform: scale(1.1);
  border-color: #ff0000;
  box-shadow: 0 0 1rem #ff0000;
}

kbd {
  display: block;
  font-size: 6rem;
  font-family: "Faster One", cursive;
  color: #d63232;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #fff1c1;
  font-family: "Monoton", cursive;
}

.footer {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font: normal 16px coda;

  padding: 45px 50px;
  margin-top: 80px;
}

.footer .footer-center p {
  color: #ffeafe;
  font-size: 14px;
  margin: 0;
}

h1 {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: #ff0000;
}
